body{
    background-image: url('./src/resources/images/gaming-pattern.png');
}

div{
    color:#4d004d;
}
button{
    background-color: #ffe6e6;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 2%;
    margin-top: 4%;
    width: auto;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}
button:hover, .questionOptions:hover { 
    background-color:#dee5ef;
}

img{
    width:100%;
    margin-bottom: 2%;
}


.gameDiv{
    width:60%;
    margin:auto;
    margin-top:10%;
    text-align: center;
    padding:2%;
}

.resultDiv{
    width:60%;
    margin:auto;
    margin-top:10%;
    text-align: center;
    padding:2%;
}
.questionText{
    margin-bottom:4%;
    margin-top:4%;
}
.questionOptions{
    text-align: left;
    width: 40%;
    margin: auto;
    margin-bottom:2%;
    font-size:1.4em;
    border: solid;
    border-radius: 5px;
}
.medallas{
    float: left;
    width: 106px;
}
